package credentials

const (
    Username = "ENTER USER NAME like as youname@youcompany.com"
    Password = "ENTER USER PASSWORD"
    BaseURL = "ENTER YOUR COMPANY ATLASSIAN URL LIKE AS https://youcompany.net/"
    TelegramToken = "ENTER TELEGRAM TOKEN"
)
